*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F07540;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    
}
header h1{
    color:#FDDB29;
}
form {
height:30px;
width:29rem;
border-radius: 1.5rem;
background-color: #ffd288fa;
display: flex;
}
form input{
   border: none;
   outline: none;
   background-color: #ffd288fa;
   border-radius: 1.5rem;
   padding-right: 17rem;
   padding-left: 0.8rem;
}
label i{
    border: none;
    background-color: #ffd288fa;
    padding: 0.45rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius:1.5rem;
    cursor: pointer;
   }
   .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: center; 
     position: relative;
   }
  
   .poke{
    display: flex;
   } 
   :root{
    --bg : linear-gradient(to right,rgb(251, 200, 15),rgb(255, 55, 0));
   }
   #pokemon-card1{
    width: 13rem;
    background:  linear-gradient(to right,rgb(158, 65, 31),rgb(220, 161, 21));
    margin:3rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    height:21.5rem;
   backface-visibility: hidden;
   transition: opacity 0.4s ease;
   }
   
  #pokemon-card1 img {
  
   height: 9rem;
   width: 100%;
   background: linear-gradient(to right,rgb(251, 200, 15),rgb(255, 55, 0)); 
   border-top-right-radius: 2rem;
   border-top-left-radius: 2rem;
  }
  
  #id{
    font-size: 1.5rem;
    padding: 0.5rem;
  }
#type{
 margin-top: 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.8rem;
  width: 80%;
}
#ability{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
  width: 80%;
 margin-left: 0.8rem;
}
  #pokemon-card1 h2{
text-align: center;
font-family: monospace;
font-weight: 800;
font-size: 1.7rem;

  }



#pokemon-card2 {
  width: 13rem;
  margin:3rem 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height:21.5rem;
  background: linear-gradient(to right,rgb(158, 65, 31),rgb(220, 161, 21));
  position: absolute;
  visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
#stats{
  width:73% ;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
 
 
}
#height,#weight{
  font-size: 1.2rem;
  font-weight: 600;
}
@media(max-width:700px){
  header img{
   width:30rem ;
  } 
  #ability,#type,#pokemon-card2{
    font-size: 1rem;
  }
}
  @media(max-width:530px){
    form{
      width: 20rem;
    }
    form input{
      padding-right: 7rem;
    }
    header img{
      width:22rem ;
     }}
     @media(max-width:350px){
      form{
        width: 12rem;
      }
      form input{
        padding-right:2rem;
      }
      header img{
        width:15rem ;
       }}

/* loader */
#loader{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#loaderimg img{
height:8rem;
width: 8rem;
animation: load 3s linear 0s infinite;
}

@keyframes load{
  0%{transform: rotate(0deg);}
  100%{transform:rotate(360deg) ;}
}

.pagination{
  height: 200px;
}
/* download */
#download{
  height: 3rem;
  width: 8rem;
  background-color: rgb(255 204 1);
  border: solid  rgb(54 95 172) 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow:2px 2px 2px rgb(54 95 172) ;
  margin:2rem ;
  border-radius:5rem;
}
.button{
  display: flex;
  text-align: center;
  justify-content: center;
}

